@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem; }

html {
  font-size: 62.5%; }

.p-1 {
  padding: 0.5rem; }

.p-2 {
  padding: 1rem; }

.p-3 {
  padding: 1.5rem; }

.p-4 {
  padding: 2rem; }

.p-5 {
  padding: 2.5rem; }

.p-6 {
  padding: 3rem; }

.p-7 {
  padding: 3.5rem; }

.p-8 {
  padding: 4rem; }

.px-1 {
  padding: 0 0.5rem; }

.px-2 {
  padding: 0 1rem; }

.px-3 {
  padding: 0 1.5rem; }

.px-4 {
  padding: 0 2rem; }

.px-5 {
  padding: 0 2.5rem; }

.px-6 {
  padding: 0 3rem; }

.px-7 {
  padding: 0 3.5rem; }

.px-8 {
  padding: 0 4rem; }

.py-1 {
  padding: 0.5rem 0; }

.py-2 {
  padding: 1rem 0; }

.py-3 {
  padding: 1.5rem 0; }

.py-4 {
  padding: 2rem 0; }

.py-5 {
  padding: 2.5rem 0; }

.py-6 {
  padding: 3rem 0; }

.py-7 {
  padding: 3.5rem 0; }

.py-8 {
  padding: 4rem 0; }

.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 125px 500px 450px auto 200px;
  gap: 1px 1px;
  grid-template-areas: "header header" "section-1 section-1" "aotw classic" "products products" "footer footer";
  width: 100%;
  height: 100%; }

.news-body {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 125px auto auto auto 200px;
  grid-template-areas: "header" "main" "articles" "ac" "footer"; }

.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eeeeee; }
  .header .header__title {
    font-size: 3.7rem;
    font-weight: 900;
    font-style: italic;
    text-decoration: none;
    color: #e1148f; }
  .header .nav {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .header .nav .nav__element {
      list-style: none;
      padding-left: 4rem; }
      .header .nav .nav__element .nav__item {
        font-size: 2.5rem;
        font-weight: 700;
        font-style: italic;
        text-decoration: none;
        color: #0096c7; }

@media screen and (max-width: 1280px) {
  .header .header__title {
    font-size: 2.5rem; }
  .header .nav__element {
    padding: 2rem; }
    .header .nav__element .nav__item {
      font-size: 2rem; } }

@media screen and (max-width: 768px) {
  .header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    border-bottom: 1px solid #eeeeee;
    padding: 2rem 0; } }

.section-1 {
  grid-area: section-1;
  display: flex; }
  .section-1 .section-1__new-release {
    background-image: url(../img/main/magdalena-bay.jpg);
    background-size: cover;
    background-position-y: 20%;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden; }
    .section-1 .section-1__new-release .new-release__type {
      font-size: 1.6rem;
      font-weight: 300;
      color: #ffffff;
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); }
    .section-1 .section-1__new-release .new-release__title {
      font-size: 3rem;
      font-weight: 900;
      font-style: italic;
      color: #ffffff;
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
    .section-1 .section-1__new-release .new-release__description {
      width: 40%;
      font-size: 1.8rem;
      font-weight: 400;
      font-style: italic;
      color: #ffffff;
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); }

.section-2 {
  grid-area: aotw;
  display: flex; }
  .section-2 .section-2__aotw {
    background-image: url(../img/main/weyes-blood.jpg);
    background-size: cover;
    background-position-y: 20%;
    box-sizing: border-box;
    overflow: hidden; }
    .section-2 .section-2__aotw .aotw__type {
      font-size: 1.6rem;
      font-weight: 300;
      color: #ffffff;
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); }
    .section-2 .section-2__aotw .aotw__title {
      font-size: 3rem;
      font-weight: 900;
      font-style: italic;
      color: #ffffff;
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
    .section-2 .section-2__aotw .aotw__description {
      width: 50%;
      font-size: 1.8rem;
      font-weight: 400;
      font-style: italic;
      color: #ffffff;
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); }

.section-3 {
  grid-area: classic;
  display: flex; }
  .section-3 .section-3__classic {
    background-image: url(../img/main/loveless_cover.jpg);
    background-size: cover;
    background-position-y: 20%;
    box-sizing: border-box;
    overflow: hidden; }
    .section-3 .section-3__classic .classic__type {
      font-size: 1.6rem;
      font-weight: 300;
      color: #ffffff;
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); }
    .section-3 .section-3__classic .classic__title {
      font-size: 3rem;
      font-weight: 900;
      font-style: italic;
      color: #ffffff;
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
    .section-3 .section-3__classic .classic__description {
      width: 50%;
      font-size: 1.8rem;
      font-weight: 400;
      font-style: italic;
      padding: 3rem 0;
      color: #ffffff;
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); }

.products-section {
  grid-area: products;
  display: flex;
  flex-direction: column; }
  .products-section .products-section__title {
    padding: 3rem 0;
    border-bottom: 1px solid #eeeeee;
    text-align: center; }
    .products-section .products-section__title .products-section__title--title-name {
      font-size: 3rem;
      font-weight: 900;
      color: #e1148f; }
  .products-section .new-products {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3em;
    padding: 3rem;
    margin-bottom: 3rem; }
    .products-section .new-products .new-products__info {
      display: flex;
      flex-direction: column;
      text-align: start;
      /* ----------------------------------------------
                * Generated by Animista on 2021-11-7 3:56:5
                * Licensed under FreeBSD License.
                * See http://animista.net/license for more info. 
                * w: http://animista.net, t: @cssanimista
                * ---------------------------------------------- */
      /**
                * ----------------------------------------
                * animation shadow-drop-lr
                * ----------------------------------------
                */ }
      .products-section .new-products .new-products__info .new-products__cover {
        width: 100%; }
      .products-section .new-products .new-products__info .new-products__albumtitle {
        font-size: 1.5rem;
        font-weight: 800;
        font-style: italic;
        padding: 1rem 1rem 0.5rem 0; }
      .products-section .new-products .new-products__info .new-products__artist {
        font-size: 1.4rem;
        font-weight: 500;
        font-style: italic; }
      .products-section .new-products .new-products__info .shadow-drop-lr {
        -webkit-animation: shadow-drop-lr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: shadow-drop-lr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes shadow-drop-lr {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    -webkit-box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35), 12px 0 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35), 12px 0 20px -12px rgba(0, 0, 0, 0.35); } }

@keyframes shadow-drop-lr {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    -webkit-box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35), 12px 0 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35), 12px 0 20px -12px rgba(0, 0, 0, 0.35); } }

.main-article {
  grid-area: main;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5rem;
  border-bottom: 1px solid #eeeeee;
  background-color: #eeeeee; }
  .main-article .main-article__imgcontainer {
    max-width: 60vw; }
    .main-article .main-article__imgcontainer .main-article__image {
      max-width: 100%; }
  .main-article .main-article__info {
    width: 40vw;
    padding: 3rem; }
    .main-article .main-article__info .article__type--main {
      font-size: 1.4rem;
      font-weight: 300;
      font-style: italic;
      border-bottom: 1px solid #e1148f;
      padding-bottom: 1rem; }
    .main-article .main-article__info .article__title--main {
      padding-top: 2rem; }
      .main-article .main-article__info .article__title--main a {
        font-size: 2.3vw;
        font-weight: 700;
        font-style: italic;
        text-decoration: none;
        color: #e1148f; }
    .main-article .main-article__info .article__description--main {
      padding-top: 2rem;
      font-size: 1.8rem;
      font-weight: 400; }

.sec-news {
  grid-area: articles;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5rem 0; }
  .sec-news .sec-news__article {
    display: flex;
    flex-direction: column;
    max-width: 25vw; }
    .sec-news .sec-news__article .sec-news__imgcontainer {
      max-height: 250px;
      overflow: hidden; }
      .sec-news .sec-news__article .sec-news__imgcontainer .sec-news__imgcontainer--img {
        width: 100%;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out; }
      .sec-news .sec-news__article .sec-news__imgcontainer .sec-news__imgcontainer--img:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05); }
    .sec-news .sec-news__article .sec-news__info .article__type--sec {
      font-size: 1.4rem;
      font-weight: 300;
      font-style: italic;
      padding: 1rem 0; }
    .sec-news .sec-news__article .sec-news__info .article__title--sec {
      max-height: 10rem;
      overflow: hidden; }
      .sec-news .sec-news__article .sec-news__info .article__title--sec a {
        font-size: 1.8rem;
        font-weight: 700;
        font-style: italic;
        text-decoration: none;
        color: #000000; }
    .sec-news .sec-news__article .sec-news__info .article__description--sec {
      font-weight: 300;
      padding-top: 1rem; }

.other-news {
  grid-area: ac;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
  border-top: 1px solid #e1148f;
  align-items: center; }
  .other-news .other-news__article {
    display: flex;
    flex-direction: row;
    width: 70vw; }
    .other-news .other-news__article .other-news__imgcontainer {
      height: 20vh; }
      .other-news .other-news__article .other-news__imgcontainer .other-news__imgcontainer--img {
        height: 100%; }
    .other-news .other-news__article .other-news__info {
      padding: 0 3rem; }
      .other-news .other-news__article .other-news__info .other-news__info--type {
        font-size: 1.4rem;
        font-weight: 300;
        font-style: italic;
        padding: 1rem 0; }
      .other-news .other-news__article .other-news__info .other-news__info--title a {
        text-decoration: none;
        color: #000000; }
      .other-news .other-news__article .other-news__info .other-news__info--description {
        padding-top: 1rem; }

footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  background-color: #000000;
  padding: 3rem;
  border-top: 5px solid #e1148f;
  /* ----------------------------------------------
    * Generated by Animista on 2021-11-7 4:56:51
    * Licensed under FreeBSD License.
    * See http://animista.net/license for more info. 
    * w: http://animista.net, t: @cssanimista
    * ---------------------------------------------- */
  /**
    * ----------------------------------------
    * animation heartbeat
    * ----------------------------------------
    */ }
  footer .footer__about .footer__about--title {
    font-size: 2.5rem;
    font-weight: 800;
    font-style: italic;
    color: #e1148f;
    padding: 0 0 1rem; }
  footer .footer__about p {
    font-size: 1.8rem;
    font-weight: 600;
    font-style: italic;
    color: #eeeeee;
    text-align: start;
    padding: 0.5rem 0; }
  footer .footer__social--title {
    font-size: 2.5rem;
    font-weight: 800;
    font-style: italic;
    color: #e1148f;
    padding: 0 0 1rem; }
  footer .footer__social__social-icons--svg, footer .footer__social__social-icons--link {
    padding: 0.5rem;
    text-decoration: none; }
  footer .heartbeat {
    -webkit-animation: heartbeat 1.5s steps(1, start) 1s infinite both;
    animation: heartbeat 1.5s steps(1, start) 1s infinite both; }

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@media screen and (max-width: 1280px) {
  .container {
    grid-template-rows: auto 400px auto auto 200px; } }
