// Index

.index-container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto 500px 450px auto auto auto;
    grid-template-areas: 
        "navbar navbar"
        "section-1 section-1"
        "section-2 section-2"
        "serv serv"
        "products products"
        "footer footer"; 
    width: 100%;
    height: 100%;

    .navbar {
        grid-area: navbar;
        background-color: transparent;

        .container-fluid {

            #navbar-title {
                font-size: 3rem;
                color: $main-color;
                font-weight: $black-weight;
                padding: 0 4rem;
            }

            .collapse {

                .navbar-nav {
                    padding: 0 2rem;

                    .nav-item {
                        padding: 0 2rem;

                        #nlt {
                            color: $secondary-color;
                            font-size: 2rem;
                            font-weight: $black-weight;
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }

    .section-1 {
        grid-area: section-1;
        display: flex;

        .section-1__new-release {
            background-image: url(../img/main/magdalena-bay.jpg);

            .new-release__title {
                font-size: 3rem;
            }

            .new-release__description {
                width: 40%;
            }
        }
    }

    .section-2 {
        grid-area: section-2;
        display: flex;

        .section-2__aotw {
            background-image: url(../img/main/weyes-blood.jpg);
        }

        .section-2__classic {
            background-image: url(../img/main/loveless_cover.jpg);
        }
    }

    .section-1, .section-2 {

        .section-1__new-release, .section-2__aotw, .section-2__classic {
            background-size: cover;
            background-position-y: 20%;
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
            padding: 4rem;

            .new-release__type, .aotw__type, .classic__type {
                font-weight: $light-weight;
                color: #ffffff;
                text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.70);
                padding-bottom: 2rem;
            }

            .new-release__title, .aotw__title, .classic__title {
                font-size: 2.5rem;
                font-weight: $black-weight;
                font-style: italic;
                color: #ffffff;
                text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.50);
            }

            .new-release__description, .aotw__description, .classic__description {
                width: 50%;
                font-weight: $normal-weight;
                font-style: italic;
                padding: 3rem 0;
                color: #ffffff;
                text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.70);
            }
        }
    }

    .service-items {
        grid-area: serv;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 150px;
        background-color: #eeeeee;
        align-items: center;
        text-align: center;
        margin-top: 3rem;

        div {
            
            p {
                width: 20vw;
                font-size: 2.1rem;
                font-weight: 700;
                font-style: italic;
            }
        }
    }

    .products-section {
        grid-area: products;
        display: flex;
        flex-direction: column;

        .products-section__title {
            padding: 3rem 0;
            border-bottom: $sc-border;
            text-align: center;

            .products-section__title--title-name {
                font-size: 3rem;
                font-weight: $black-weight;
                color: $main-color;
            }
        }

        .new-products {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 3rem;
            padding: 3rem;
            margin-bottom: 3rem;

            .new-products__info {
                display: flex;
                flex-direction: column;
                text-align: start;

                .new-products__cover {
                    max-width: 300px;
                }

                .new-products__albumtitle {
                    font-size: 1.5rem;
                    font-weight: $xbold-weight;
                    font-style: italic;
                    padding: 1rem 1rem 0.5rem 0;
                }

                .new-products__artist {
                    font-size: 1.4rem;
                    font-weight: $medium-weight;
                    font-style: italic;
                }
                
                .shadow-drop-lr {
                    -webkit-animation: shadow-drop-lr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                            animation: shadow-drop-lr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                }
                
                /* ----------------------------------------------
                    * Generated by Animista on 2021-11-7 3:56:5
                    * Licensed under FreeBSD License.
                    * See http://animista.net/license for more info. 
                    * w: http://animista.net, t: @cssanimista
                    * ---------------------------------------------- */
                
                /**
                    * ----------------------------------------
                    * animation shadow-drop-lr
                    * ----------------------------------------
                    */
                @-webkit-keyframes shadow-drop-lr {
                    0% {
                        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
                                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
                    }
                    100% {
                        -webkit-box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35), 12px 0 20px -12px rgba(0, 0, 0, 0.35);
                                box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35), 12px 0 20px -12px rgba(0, 0, 0, 0.35);
                    }
                }
                @keyframes shadow-drop-lr {
                    0% {
                        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
                                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
                    }
                    100% {
                        -webkit-box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35), 12px 0 20px -12px rgba(0, 0, 0, 0.35);
                                box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35), 12px 0 20px -12px rgba(0, 0, 0, 0.35);
                    }
                }
            }
        }
    }
}

// Catálogo

.catalogue-body {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto auto auto 300px;
    grid-template-areas: 
      "navbar"
      "promo"
      "notable"
      "classics"
      "footer";
    justify-content: center;
    overflow-x: hidden;
    width: 100%;
    height: 100%;

    .navbar {
        grid-area: navbar;
        background-color: transparent;

        .container-fluid {

            #navbar-title {
                font-size: 3rem;
                color: $main-color;
                font-weight: $black-weight;
                padding: 0 4rem;
            }

            .collapse {

                .navbar-nav {
                    padding: 0 2rem;

                    .nav-item {
                        padding: 0 2rem;

                        #nlt {
                            color: #0096c7;
                            font-size: 2rem;
                            font-weight: 900;
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }

    .promo {
        grid-area: promo;
    }

    .notable {
        grid-area: notable;
    }

    .classics {
        grid-area: classics;
    }
        
    .promo, .notable, .classics {

        .promo__section-title, .notable__section-title, .classics__section-title {
            border-bottom: $sc-border;

            .promo__section-title--h2, .notable__section-title--h2, .classics__section-title--h2 {
                text-align: center;
                font-size: 3rem;
                font-weight: 900;
                font-style: italic;
                padding: 3rem 0;
            }
        }

        .promo__content, .notable__content, .classics__content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            gap: 3rem;
            padding: 3rem;

            .promo__album, .notable__album, .classics__album {
                display: flex;
                flex-direction: column;

                .album-cover {
                    width: 250px;
                    height: 250px;
                    overflow: hidden;

                    .promo__album--img, .notable__album--img, .classics__album--img {
                        max-width: 100%;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                        -webkit-transition: .3s ease-in-out;
                        transition: .3s ease-in-out;
                        &:hover {
                            -webkit-transform: scale(1.05);
                            transform: scale(1.05);
                        }
                    }
                }
                
                .album__description {
                    height: 9rem;
                    width: 250px;
                    overflow: hidden;
                    
                    h3 {
                        font-style: italic;
                        padding: 1rem 1rem 0.5rem 0;

                        a {
                            text-decoration: none;
                            color: #000000;
                        }
                    }
                    
                    p {
                        font-size: 1.2rem;
                        padding: 0 0.5rem 0.5rem 0;
                    }
                }
            }
        }
    }
}

// Recomendados

.recs-body {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto 300px; 
    grid-template-areas: 
      "navbar"
      "recs"
      "footer"; 
    width: 100%;
    height: 100%;

    .navbar {
        grid-area: navbar;
        background-color: transparent;

        .container-fluid {

            #navbar-title {
                font-size: 3rem;
                color: $main-color;
                font-weight: $black-weight;
                padding: 0 4rem;
            }

            .collapse {

                .navbar-nav {
                    padding: 0 2rem;

                    .nav-item {
                        padding: 0 2rem;

                        #nlt {
                            color: #0096c7;
                            font-size: 2rem;
                            font-weight: 900;
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }
    
    .AOTW-section {
        grid-area: recs;
        display: flex;
        flex-direction: column;
        align-items: center;

        .AOTW-section__title {

            .AOTW-section__title--h2 {
                font-size: 3rem;
                font-weight: $black-weight;
                font-style: italic;
                padding: 3rem;
                border-bottom: $mc-border;
            }
        }

        .recs-section {
            display: flex;
            flex-direction: column;
            width: 80vw;
            margin: 2rem 0;

            .rec-album {
                display: flex;
                flex-direction: row;
                border-top: $sc-border;
                padding: 3rem 0;

                .rec-album__cover {
                    width: 50%;

                    .rec-album__cover--img {
                        width: 100%;
                    }
                }

                .rec-album__info {
                    width: 50%;
                    padding: 2rem 3rem;
                    box-sizing: border-box;
                    margin: 0 3rem;
                    border-left: $sc-border;

                    .rec-album__info--name {
                        font-size: 3rem;
                        font-weight: 900;
                        font-style: italic;
                        padding-bottom: 1rem;
                        border-bottom: $mc-border;
                    }

                    .rec-album__table {
                        display: grid;
                        grid-template-columns: repeat(2,1fr);
                        padding: 2rem 0;
                        
                        .rec-album__table--info {
                            font-weight: $xbold-weight;
                        }
                        
                        span {
                            padding: 0.3rem;
                        }
                    }
                    
                    .rec-album__info--description {
                        font-weight: $medium-weight;
                        font-style: italic;
                        padding: 2rem 0;
                        border-top: $sc-border;
                        line-height: 2.5rem;
                    }
                }
            }
        }
    }
}

// Merch

.merch-body {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto 300px; 
    grid-template-areas: 
      "navbar"
      "main"
      "footer";
    width: 100%;
    height: 100%;

    .navbar {
        grid-area: navbar;
        background-color: transparent;

        .container-fluid {

            #navbar-title {
                font-size: 3rem;
                color: $main-color;
                font-weight: $black-weight;
                padding: 0 4rem;
            }

            .collapse {

                .navbar-nav {
                    padding: 0 2rem;

                    .nav-item {
                        padding: 0 2rem;

                        #nlt {
                            color: #0096c7;
                            font-size: 2rem;
                            font-weight: 900;
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }
    
    .afx, .merch {
        display: flex;
        flex-direction: column;

        .afx__title, .merch__title {
            border-bottom: $sc-border;

            .afx__title--h2, .merch__title--h2 {
                text-align: center;
                font-size: 3rem;
                font-weight: $black-weight;
                font-style: italic;
                padding: 3rem 0;
            }
        }

        .afx__merch, .music__merch {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center;
            gap: 3rem;
            padding: 3rem;

            .afx__item, .music__item {
                display: flex;
                flex-direction: column;

                .afx__item_ph, .music__item_ph {
                    width: 360px;
                    height: 360px;
                    overflow: hidden;

                    .afx__item_ph--img, .music__item_ph--img {
                        width: 100%;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                        -webkit-transition: .3s ease-in-out;
                        transition: .3s ease-in-out;
                        &:hover {
                            -webkit-transform: scale(1.05);
                            transform: scale(1.05);
                        }
                    }
                }

                .afx__item_description, .music__item_description {
                    width: 360px;
                    text-align: center;
                    padding: 1rem 0;
                    height: 10rem;

                    .afx__item_description--name, .music__item_description--name {
                        font-size: 2rem;
                        font-style: italic;
                        text-decoration: none;
                        color: #000000;
                    }
                }
            }
        }
    }
}

// Noticias

.news-body {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto auto auto 300px; 
    grid-template-areas: 
      "navbar"
      "main"
      "articles"
      "ac"
      "footer";

    .navbar {
        grid-area: navbar;
        background-color: transparent;

        .container-fluid {

            #navbar-title {
                font-size: 3rem;
                color: $main-color;
                font-weight: $black-weight;
                padding: 0 4rem;
            }

            .collapse {

                .navbar-nav {
                    padding: 0 2rem;

                    .nav-item {
                        padding: 0 2rem;

                        #nlt {
                            color: #0096c7;
                            font-size: 2rem;
                            font-weight: 900;
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }

    .main-article {
        grid-area: main;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5rem;
        border-bottom: $sc-border;
        background-color: #eeeeee;

        .main-article__imgcontainer {
            max-width: 60vw;
            
            .main-article__image {
                max-width: 100%;
            }
        }

        .main-article__info {
            width: 40vw;
            padding: 3rem;
            
            .article__type--main {
                font-size: 1.4rem;
                font-weight: $light-weight;
                font-style: italic;
                border-bottom: $mc-border;
                padding-bottom: 1rem;
            }

            h2 {
                padding-top: 2rem;
                
                .article__title--main {
                    font-size: 2.3vw;
                    font-weight: $bold-weight;
                    font-style: italic;
                    text-decoration: none;
                    color: $main-color;
                }
            }

            .article__description--main {
                padding-top: 2rem;
                font-weight: $medium-weight;
            }
        }
    }

    .sec-news {
        grid-area: articles;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 5rem 0;

        .sec-news__article {
            display: flex;
            flex-direction: column;
            width: 25vw;

            .sec-news__imgcontainer {
                max-height: 250px;
                overflow: hidden;
                
                .sec-news__imgcontainer--img {
                    width: 100%;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    -webkit-transition: .3s ease-in-out;
                    transition: .3s ease-in-out;
                    &:hover {
                        -webkit-transform: scale(1.05);
                        transform: scale(1.05);
                    }
                }
            }

            .sec-news__info {
                
                .article__type--sec {
                    font-size: 1.4rem;
                    font-weight: $light-weight;
                    font-style: italic;
                    padding: 1rem 0;
                }

                h3 {
                    max-height: 10rem;
                    overflow: hidden;

                    .article__title--sec {
                        font-size: 1.8rem;
                        font-weight: $bold-weight;
                        font-style: italic;
                        text-decoration: none;
                        color: #000000;
                    }
                }
                
                .article__description--sec {
                    font-weight: $light-weight;
                    padding-top: 1rem;
                }
            }
        }
    }

    .other-news {
        grid-area: ac;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 3rem;
        border-top: $mc-border;
        align-items: center;

        .other-news__article {
            display: flex;
            flex-direction: row;
            width: 70vw;

            .other-news__imgcontainer {
                height: 20vh;

                .other-news__imgcontainer--img {
                    height: 100%;
                }
            }

            .other-news__info {
                padding: 0 3rem;

                .other-news__info--type {
                    font-size: 1.4rem;
                    font-weight: $light-weight;
                    font-style: italic;
                    padding: 1rem 0;
                }

                h4 {

                    .other-news__info--title {
                        text-decoration: none;
                        color: #000000;
                    }
                }
            }
        }
    }
}

// Página de error 404

.error-body {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto 300px;
    grid-template-areas: 
      "navbar"
      "error"
      "footer"; 
    width: 100%;
    height: 100%;

    .navbar {
        grid-area: navbar;
        background-color: transparent;

        .container-fluid {

            #navbar-title {
                font-size: 3rem;
                color: $main-color;
                font-weight: $black-weight;
                padding: 0 4rem;
            }

            .collapse {

                .navbar-nav {
                    padding: 0 2rem;

                    .nav-item {
                        padding: 0 2rem;

                        #nlt {
                            color: #0096c7;
                            font-size: 2rem;
                            font-weight: 900;
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }

    .error {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .error__title {
            font-size: 3rem;
            font-weight: 700;
            font-style: italic;
            padding: 2.5rem;
        }

        .error__p {
            padding-bottom: 3rem;

            .error__p--index {
                font-size: 2.7rem;
                font-weight: 900;
                font-style: italic;
                text-decoration: none;
                color: #e1148f;
            }
        }
    }
}