.navbar {
    grid-area: navbar;
    background-color: #eeeeee;

    .container-fluid {

        .halica_logo {
            height: 120px;
            padding: 0 4rem;
            animation: pulse;
            animation-duration: 3s;
        }

        .collapse {

            .navbar-nav {
                padding: 0 2rem;

                .nav-item {
                    padding: 0 2rem;

                    #nlt {
                        font-family: 'UltraHyper';
                        font-style: italic;
                        text-transform: lowercase;
                        color: $main-color;
                        font-size: 2.7rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .navbar {
        
        .container-fluid {
    
            .collapse {
    
                .navbar-nav {
                    
                    .nav-item {
                        
                        #nlt {
                            font-size: 2.1rem;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 576px) {
    .navbar {

        .container-fluid {

            .halica_logo {
                height: 90px;
                padding: 0 1rem;
            }

            .collapse {

                .navbar-nav {
                    padding: 0 4rem;

                    .nav-item {
                        padding: 0;

                        #nlt {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }
}